<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
     <aside class="span4">
        <section>
           <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
           <%= render 'shared/micropost_form' %>
        </section>
     </aside>
     <div class="span8">
      <h3>行者话语</h3>
      <%= render 'shared/feed' %>
     </div>
  </div>
<% else %>
  <div class="center hero-unit">
     <h1>欢迎来到‘行者’</h1>
     <h2>
        马上加入‘行者’，分享我们在路上的点点滴滴。
	 </h2>
	 <%= link_to "马上注册", signup_path,
                                class: "btn btn-large btn-primary" %>
   </div>
<% end %>
