<% provide(:title, "登录") %>
<h2>登录</h2>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>

			<%= f.label "邮箱" %>
			<%= f.text_field :email %>
			<small>请输入你的注册邮箱</small><br><br>
			<%= f.label "密码" %>
			<%= f.password_field :password %>
			<small>请输入你的密码(不少于6个字符)</small><br><br>
			<%= f.submit "登录", class: "btn btn-large btn-primary" %>

		<% end -%>
		<p>还没有帐号? <%= link_to "马上注册", signup_path %></p>

	</div>

</div>
