<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
  		<%= link_to "恩昂～", '#', id: "logo" %>
  		<nav>
 			<ul class="nav pull-left">
 				<li> <%= link_to "首页", root_path %> </li>
 				<li> <%= link_to "帮助", help_path %> </li>
 				<li> <%= link_to "用户列表", users_path %></li>
 			</ul>

 			<ul class="nav pull-right">
 				<% if signed_in? %>
					
					<li id="fat-menu" class="dropdown"> 
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= @current_user.name %> <b class="caret"></b><!--有一个向下的箭头-->
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "我的主页", current_user %></li>
							<li><%= link_to "设置帐号", edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li>
								<%= link_to "退出", signout_path, method: "delete" %>
							</li>
						</ul>
					</li>
					<% else %>
					<li><%= link_to "登录", signin_path %></li>
 				<% end %>
 			</ul>

  		</nav>
  	</div>
  </div>
</header>